<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522342987073-5p2gqh70amem7oikcjqe2kr5eu3fo836.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522342987073-5p2gqh70amem7oikcjqe2kr5eu3fo836</string>
	<key>API_KEY</key>
	<string>AIzaSyBzxNAI2ILeYqUFtZlX1wF60LUbucjdl0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>522342987073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farendza.academy.showNews</string>
	<key>PROJECT_ID</key>
	<string>shownews-a7d47</string>
	<key>STORAGE_BUCKET</key>
	<string>shownews-a7d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522342987073:ios:a6381e7853e45e69541dc0</string>
</dict>
</plist>